<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Params">
  		<parameter name="validName" value="mac"/>
		<parameter name="invalidName" value="kiot"/>
  
  
		<classes>
			<class name="com.test.DataDrivenTestDemo"/>
		</classes>
	</test>
</suite> <!-- Suite -->
